.table {
	border-spacing: 0px;
	outline: 1.5px solid #1c1b1f;
}

.tableHead {
	background: #1c1b1f;
	color: #ffffff;
	height: 56px;
	border-spacing: 0;
}

.tableRow {
	outline: 0.1px solid #1c1b1f;
	display: flex;

}

.tableCell {
	padding: 15px 10px;
	font-size: 14px;
	line-height: 20px;
	width: 150px;
	display: flex;
	justify-content: center;
}
