@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter";
  font-weight: 400;
}

.inputWrapper {
  font-family: "Inter";
  position: relative;
  display: inline-block;
  border-radius: 0px;
  border: 1px solid #484649;
}

.baseLabel {
  display: block;
  transition: 0.3s;
}

.inputWrapper input {
  display: block;
  min-width: 210px;
  padding: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding-left: 30px;
}

.labelActive {
  z-index: 2;
  position: absolute;
  top: -8px;
  left: 16px;
  padding: 0 4px;
  background-color: white;
  font-size: 12px;
}

.labelInactive {
  z-index: 2;
  position: absolute;
  top: 17px;
  left: 16px;
  padding: 0 4px;
  font-size: 16px;
  padding-left: 15px;
}

.labelFocused {
  color: #23a094;
}

.inputFocused {
  border: 1px solid #23a094;
  outline: #23a094;
}

.inputError {
  border: 1px solid #b3261e;
  outline: #b3261e;
}

.labelError {
  color: #b3261e;
}

.labelDisabled,
.inputDisabled {
  opacity: 38%;
}

.errorMessage {
  position: absolute;
  top: 60px;
  color: #b3261e;
  left: 20px;
  font-size: 10px;
}

.hintMessage {
  position: absolute;
  top: 60px;
  left: 20px;
  font-family: "Inter";
  font-style: normal;
  line-height: 16px;
  color: #605d62;
  font-weight: 400;
  font-size: 10px;
}

.errorIcon, .deleteIcon {
  position: absolute;
  left: 220px;
  top: 17px;
}

.searchIcon {
  position: absolute;
  left: 8px;
  top: 19px;
}

.searchIconDisabled {
  position: absolute;
  left: 8px;
  top: 19px;
  opacity: 38%;
}
